<div id="<%= dom_id event %>">
  <p>
    <strong>Id raduno:</strong>
    <%= event.id_raduno %>
  </p>

  <p>
    <strong>Email partecipante:</strong>
    <%= event.email_partecipante %>
  </p>

</div>
