<!--<link rel="stylesheet" href="<%= asset_path('application.css') %>">

<div class="accesso">
    <form>
        <div>
            <label>Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <input type="submit" value="Accedi">
        </div>
<div>