<h1>Event#update</h1>

<p>
Ciao <%= @user ? @user.name : 'Nome User ignoto' %>!
Ti avvisiamo che <%= @raduno ? @raduno.nome_darte_organizzatore : 'Organizzatore Raduno ignoto' %> ha modificato o eliminato l'evento del <%= @raduno ? @raduno.data : 'Data Raduno ignoto' %> locato in <%= @raduno ? @raduno.luogo : 'Luogo Raduno ignoto' %> a cui partecipavi.
  Ti invitiamo a controllare le modifiche accedendo al sito.
</p>
