<h1>Event#update</h1>

<p>
  Ciao <%# @user ? @user.name : 'nome user ignoto'%>, ti avvisiamo che <%# @event ? @event.owner : 'organizzatore evento ignoto' %> ha modificato le informazioni riguardo l'evento <%# @event ? @event.name : 'nome evento ignoto' %>.<br>
  Ti invitiamo a controllare le modifiche accedento al sito.
</p>
