<h1>Event#update</h1>

<p>
  Ciao <%= @user.name%>, ti avvisiamo che <%= @event.owner %> ha modificato le informazioni riguardo l'evento <%= @event.name %>.<br>
  Ti invitiamo a controllare le modifiche accedento al sito.
</p>
