/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /*
 html, body { height: 100%; width: 100%; margin: 0px; min-width: 624px;}
 body { background-color: white; overflow-y:hidden; overflow-x:hidden; }
 
 header {
     display: flex;
     justify-content: center;
 }
 
 /*.titolo {
     padding-right: 500px;
 }
 
 .nome {
     margin-left: 300px;
 }
 
 .grid-container#colonne {
     display: grid;
     grid-template-columns: 20% 40% 40%;
     grid-gap: 10px;
     height: 100%;
     margin-top: 20px;
   }
 
   .grid-container#righe {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 40% 60%;
     grid-gap: 10px;
     height: 100vh;
   }
 
   .grid-item {
     display: flex;
     justify-content: center;
     background-color: #f2f2f2;
     padding: 20px;
     overflow-y: scroll;
   }
 