html, body { height: 100%; width: 100%; margin: 0px; min-width: 624px;}
body { 
    display: flex;
    background-color: unset; 
    overflow-y: scroll; 
    overflow-x: hidden; 
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.t {
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
    margin: 0px;
}
.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
}
.field {
    padding: 5px;
}
.testo {
    width: 275px;
    height: 25px;
    font-size: 15px;
}
.actions {
    margin: 20px;
}
.bottone {
    margin-top: 10px;
    font-size: 25px;
}
.spotify#nero {
    background-color: #191414;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.spotify#verde {
    background-color: #1DB954;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
p {
    margin: 0px;
}