html, body { height: 100%; width: 100%; margin: 0px; min-width: 624px;}
body { background-color: white; overflow-y: hidden; overflow-x: hidden; }

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.nome-logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    height: 100%;
    width: 30%;
}

.titolo {
    margin: 10px;
    display: inline-block;
}

.bottone#logout {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    height: 100%;
    width: 25%;
    font-size: 22px;
}

.bottone#raduno {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    height: 100%;
    width: 11%;
    margin-right: 50px;
    font-size: 22px;
}

.bottone:hover {
    background-color: #ddd;
}

.grid-container#colonne {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-gap: 10px;
    height: 100%;
}

.grid-container#righe {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    grid-gap: 10px;
    height: 100vh;
}

.grid-item {
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
    padding: 20px;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
}

.intestazione {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

.raduno-box {
    z-index: 2;
    border-radius: 5px;
    border: solid 1px;
    padding: 20px;
    font-size: 20px;
}

.raduno-box p {
    margin-bottom: 0px;
}

.font {
    font-weight: bold;
}

.mod-elim {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 15px;
}

.mod-elim-btn:hover {
    background-color: rgb(105, 104, 104);
}